/*csslint fallback-colors: false, order-alphabetical: false, box-model: false*/

body {
    background: rgb(72, 83, 112);
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
header{
    width: 400px;
    font-size: 20;
    margin-left: 20%;
    }
main {
  width: 600px;
  line-height: 1.6;
 margin-left: 20%;
}

.main-menu-container {
  /* a text-align center csak inline elemeknél működik, de a
  a main-menu-item egy inline elem lesz.
  a text align property le öröklődik egészen a main-menu-item-ig */
    text-align: center;
    padding-top: 50px;

  
}
  
.main-menu {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    border-bottom: 3px solid #68d2c3;
    line-height: 20px;

}
    
.main-menu-item {
    color: #e9e4ff;
    cursor: pointer;
    display: inline-block;
    padding: 20px 0;
    position: relative;
    width: 120px;
    transition: background-color .5 ease-in-out;
}
.main-menu-item:hover, .sub-menu-pont:hover{
     background: rgba(41, 47, 48, 0.2);
}
  
   
.submenu{
    cursor: pointer;
    display: inline-block;
    visibility: hidden;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
    line-height: 2.2;
    transition: background-color .5 ease-in-out;
}

.main-menu-item:hover > .submenu{
    visibility: visible;

}  



.sub-menu-pont{
    padding: inherit;
    transition: background-color .5 ease-in-out;
    width: 120px;
    background-color: rgba(41, 47, 48, 0.2);
}   
.sub-menu-pont:hover{
    color: rgba (41, 47, 48, 0.7);
}
.company-image{
    float: right;
}

.main-content{
        width: 800px;
    margin: 0 auto;
}